.sitemap-section
  &__list
    display: flex
    flex-direction: column
    gap: 10px
  &__item
    border: 1px solid #ccc
    padding: 0.5rem
    display: flex
    width: fit-content
    align-items: center
    gap: 0.5rem
  &__select-container
    display: flex
    flex-direction: column
    gap: 0.5rem
  &__select
  &__input
  &__button
  &__controls
    display: flex
    justify-content: flex-end
    gap: 0.5rem
  &__add-button